aside {
  background-image: url(../assets/images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.75rem;
  width: 25rem;
  height: 100%;

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;

    img {
      height: 3rem;
    }
  }
}