* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--color-gray-500);
  color: var(--color-gray-200);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  width: 65rem;
}

header h3 {
  font: var(--subtitle-font-family);
  color: var(--color-red);
}

header h2 {
  font: var(--title-md);
  color: var(--color-gray-100);
}

.cards {
  width: 65rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.intro {
  background-image: url(../assets/images/background-intro.png);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  padding: 7.5rem 10.2rem 3.5rem 10.2rem;
  gap: 6rem;
  align-items: center;
  justify-content: flex-end;
}

.cards .info {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  gap: 0.5rem;
}

.cards .info h4 {
  font: var(--title-sm);
  color: var(--color-gray-100);
}

.cards .info p {
  font: var(--text-sm);
}
